*{
    list-style: none;
}
a{
    text-decoration: none;
}
.search-box{
    min-width: 350px;
    outline: none;
    position: relative;
}   
.sub-cat li a{
    text-transform: capitalize;
    color: #FF3F6c;
}
.sub-cat li:hover{
    background-color: #f5c5d078;    
}
.sub-cat{
    display: none;
}
.cat:hover .sub-cat{
    display: block;
    overflow: visible;
}
.cat::after{
    content:'';
    width: 40px;
    height: 3px;
    background-color: #FF3F6c;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.cat:hover::after{
    opacity: 1;
}
.profile:hover::after{
    content: '';
    width: 40px;
    height: 4px;
    background-color: #FF3F6c;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.login-btn:hover{
    border: 1px solid #FF3F6c;
}
.profile-box{
    display: none;
}
.sub-profile li{
    font-size: 13px;
    padding: 2px 10px;
    margin: 0%;
}
.sub-profile li a:hover{
    color: gray;
    font-weight: bold;
}
.profile:hover .profile-box{
    display: block !important;
}
