@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

body {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Product page */
.input:checked {
  background-color: #FF3F6c !important;
}

.product-box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-pop {
  transform-origin: bottom;
  opacity: 0;
  z-index: 99999;
  transition: 0.5s;
}

.product-box:hover .product-pop {
  bottom: -50px;
  opacity: 1;
}

/* product details */
.detail-img {
  transition: 0.5s;
}

.detail-img:hover {
  transform: scale(1.1, 1.1);
}

.rating-box:hover {
  border: 1px solid black !important;
}

.size-box:hover {
  border: 1px solid #FF3F6c !important;
}

.btn-whish:hover {
  border: 1px solid black !important;
}

/* login page */
.login-box::placeholder {
  color: transparent;
}

.login-box::placeholder span {
  color: #FF3F6c;
}

/* Contact-us page */
.cointainer {
  max-width: 980px;
  margin: 5% auto;

}

.side-bottom {
  bottom: 10px;
}

.middle {
  min-height: 525px;

}

/* cart page */
.divider {
  border-top: 1px dashed #696B79;
  display: inline-block;
  height: 4px;
  width: 50px;
  margin-top: 19px;
}



/* --------------------------------------------------------------------------------------- */
/* ADMIN PANEL */



/* header */
.form {
  width: 700px;
  margin-bottom: -150px;
}

/* Dashboard */
.accordion-item:first-of-type>.accordion-header .accordion-button {}

.accordion-button:not(.collapsed) {
  background-color: black !important;
  color: white !important;
  font-weight: bold;
}

.accordion-button:focus {
  box-shadow: none !important;
}


.accordion-button:hover {
  color: white !important;
  background-color: black !important;
}